.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
*nohup.out*

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
.DS_Store
/project/swarm.inf.uniroma3.it/resources/certs/ciao.txt
